node_modules/ 
test-results/ 
/playwright-report/ 
/playwright/.cache/ 
.env

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
src/captureCodebase.ts
src/diff.ts
src/getStructure.ts
src/rag.ts
src/utils/
input.csv
paste.txt
